<%= form_with model: [:admin, talent, career_goal], local: true do |form |%>
  <%= render "shared/form_errors", resource: career_goal%>

  <div class="form-group is-required">
    <%= form.label "Description" %>
    <%= form.text_area :description, required: true, class: "form-control" %>
  </div>

  <div class="form-group is-required">
    <%= form.label :target_date %>
    <%= form.date_field :target_date, required: true, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", career_goal.persisted? && admin_talent_path(career_goal.talent) || admin_talent_index_path, class: "btn btn-secondary", role: "button"%>
    <%= form.submit "Save Career Goal", class: "btn btn-primary" %>
  </div>
<% end %>
