<div class="col-12 col-lg-9 flex-grow-0 flex-shrink-0 lg-overflow-y-scroll d-flex px-0">
  <main class="col-12 px-2 d-flex flex-column justify-content-start">
    <h1>Rewards - for <%= @talent.username %></h1>

    <%= link_to "New Reward", new_admin_talent_reward_path(@talent), class: "btn btn-primary talent-button mt-4" %>

    <%= render "shared/flashes" %>

    <table class="table table-hover mt-4">
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Required Amount</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @rewards.each do |reward|%>
          <tr>
            <th scope="row"><%= reward.id%></th>
            <td><%= reward.required_amount.to_s(:delimited) %></td>
            <td><%= reward.description %></td>
            <td><%= link_to "Details", admin_talent_reward_path(@talent, reward), class: "btn btn-info talent-button", role: "button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="d-flex flex-row">
      <div class="col-md-12">
        <%= link_to "Back to User", admin_user_path(@talent.user), class: "btn btn-secondary talent-button" %>
      </div>
    </div>
  </main>
</div>
