<div class="col-12 col-lg-9 flex-grow-0 flex-shrink-0 lg-overflow-y-scroll d-flex px-0">
  <main class="col-12 px-2 d-flex flex-column justify-content-start">
    <h1>Reward - For <%= @talent.username %></h1>

    <%= render "shared/flashes" %>

    <dl class="d-flex flex-row flex-wrap">
      <dt class="col-md-3 sm-text-left md-text-right">ID</dt>
      <dd class="col-md-9"><%= @reward.id %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Required Amount</dt>
      <dd class="col-md-9"><%= @reward.required_amount.to_s(:delimited) %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Description</dt>
      <dd class="col-md-9"><%= @reward.description %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Created at</dt>
      <dd class="col-md-9"><%= l(@reward.created_at, format: :long) %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Updated at</dt>
      <dd class="col-md-9"><%= l(@reward.updated_at, format: :long) %></dd>
    </dl>

    <div class="d-flex flex-row">
      <div class="col-md-9 offset-md-3">
        <%= link_to "Edit Reward", edit_admin_talent_reward_path(@talent, @reward), class: "btn btn-primary" %>
        <%= link_to "Destroy Reward", admin_talent_reward_path(@talent, @reward), class: "btn btn-danger", method: :delete %>
      </div>
    </div>
  </main>
</div>
