<%= form_with model: [:admin, wait_list], local: true do |form |%>
  <%= render "shared/form_errors", resource: wait_list%>

  <div class="form-group is-required">
    <%= form.label :email %>
    <%= form.email_field :email, required: true, class: "form-control" %>
  </div>

  <div class="form-group form-check">
    <%= form.check_box :approved, class: "form-check-input" %>
    <%= form.label :approved, class: "form-check-label" %>
  </div>

  <div class="form-group form-check">
    <%= form.check_box :talent, class: "form-check-input" %>
    <%= form.label :talent, class: "form-check-label" %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", wait_list.persisted? && admin_wait_list_path(wait_list) || admin_wait_list_index_path, class: "btn btn-secondary talent-button", role: "button"%>
    <%= form.submit "Save Wait list item", class: "btn btn-primary talent-button" %>
  </div>
<% end %>
