<%= form_with model: [:admin, badge], local: true do |form |%>
  <%= render "shared/form_errors", resource: badge%>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group is-required">
    <%= form.hidden_field :image, value: badge.cached_image_data %>
    <%= form.file_field :image, required: true %>
  </div>


  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :alt %>
    <%= form.text_field :alt, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", badge.persisted? && admin_badge_path(badge) || admin_badges_path, class: "btn btn-secondary talent-button", role: "button"%>
    <%= form.submit "Save badge", class: "btn btn-primary talent-button" %>
  </div>
<% end %>
