<div class="container mt-4">
  <h1>Talent</h1>

  <% if @alert.present? %>
    <div class="d-flex w-100">
      <%= react_component("Alert",
        props: {
          type: @alert.alert_type,
          text: @alert.text,
          href: @alert.href,
          buttonText: @alert.button_text
        },
        prerender: false, 
        html_options: { class: @alert.css_class }) %>
    </div>
  <% end %>
  <div class="d-flex flex-row justify-content-between mt-2">
    <%= link_to "All", talent_index_path, class: "btn btn-primary talent-button", role: "button" %>
    <%= link_to "Active", talent_active_path, class: "btn btn-primary talent-button", role: "button" %>
    <%= link_to "Upcoming", talent_upcoming_path, class: "btn btn-primary talent-button", role: "button" %>

    <%= link_to "Newest", url_for(sort: "newest"), class: "btn btn-primary talent-button", role: "button" %>
    <%= link_to "Market Cap", url_for(sort: "market_cap"), class: "btn btn-primary talent-button", role: "button" %>
    <%= link_to "Activity", url_for(sort: "activity"), class: "btn btn-primary talent-button", role: "button" %>
  </div>

  <div class="d-flex flex-row flex-wrap my-2 flex-grow-1">
    <% @talents.each do |talent| %>
      <div class="col-sm-12 col-md-6 col-lg-4 talent-card-spacing">
        <%= react_component("TalentCard", props:
          {
            href: talent_path(talent),
            talent: {
              id: talent.id,
              username: talent.username,
              status: talent.status,
              description: talent.description,
              sponsor_count: talent.investors.count,
              profile_picture_url: talent.profile_picture_url,
              coin: {
                display_price: talent.coin.display_price,
                display_market_cap: talent.coin.display_market_cap,
                display_ticker: talent.coin.display_ticker
              },
              tags: ["Space"]
            }
          }, prerender: false, html_options: { class: "h-100" }) %>
      </div>
    <% end %>
  </div>

  <%= react_component("Pagination", props:
    {
      prev: @pagy.prev,
      next: @pagy.next,
      page: @pagy.page,
      last: @pagy.last
    }, prerender: false) %>
</div>
