<div class="container">
  <h1>Talent</h1>

  <dl class="row">
    <dt class="col-md-3">ID</dt>
    <dd class="col-md-9"><%= @talent.id %></dd>

    <dt class="col-md-3">Username</dt>
    <dd class="col-md-9"><%= @talent.username %></dd>

    <dt class="col-md-3">Ticker</dt>
    <dd class="col-md-9"><%= @talent.coin.display_ticker %></dd>

    <dt class="col-md-3">Linkedin</dt>
    <dd class="col-md-9">
      <%= link_to "Linkedin", @talent.linkedin_url, class: "btn btn-primary talent-button", role: "button" %>
    </dd>

    <dt class="col-md-3">Status</dt>
    <dd class="col-md-9"><%= @talent.status %></dd>

    <dt class="col-md-3">Wallet ID</dt>
    <dd class="col-md-9"><%= @talent.wallet_id %></dd>

    <dt class="col-md-3">Description</dt>
    <dd class="col-md-9"><%= @talent.description %></dd>

    <dt class="col-md-3">Coin Price</dt>
    <dd class="col-md-9"><%= @talent.coin.display_price %></dd>

    <dt class="col-md-3">Coin Market Cap</dt>
    <dd class="col-md-9"><%= @talent.coin.display_market_cap %></dd>

    <dt class="col-md-3">Sponsors</dt>
    <dd class="col-md-9"><%= @talent.investors.count %></dd>

    <dt class="col-md-3">Activity</dt>
    <dd class="col-md-9"><%= @talent.activity_count %></dd>

    <dt class="col-md-3">Career Goal</dt>
    <dd class="col-md-9"><%= @talent.career_goal %></dd>

    <dt class="col-md-3">Rewards</dt>
    <dd class="col-md-9">
      <%= @talent.rewards.map(&:to_s).join(" | ") %>
    </dd>
  </dl>
</div>
