<%= form_with model: [:admin, invite], local: true do |form |%>
  <%= render "shared/form_errors", resource: invite%>

  <div class="form-group is-required">
    <%= form.label :email %>
    <%= form.select :email, options_for_select(@subscribers), { include_blank: true }, {class: "form-control"} %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", invite.persisted? && admin_invite_path(invite) || admin_invites_path, class: "btn btn-secondary talent-button", role: "button"%>
    <%= form.submit "Send Invite", class: "btn btn-primary talent-button" %>
  </div>
<% end %>
