<div class="col-12 col-lg-9 flex-grow-0 flex-shrink-0 lg-overflow-y-scroll d-flex px-0">
  <main class="col-12 px-2 d-flex flex-column justify-content-start">
    <h1>Talent</h1>

    <%= link_to "New Talent", new_admin_talent_path, class: "btn btn-primary mt-4 talent-button" %>

    <table class="table table-hover mt-4">
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Wallet ID</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @talents.each do |talent|%>
          <tr>
            <th scope="row"><%= talent.id%></th>
            <td><%= talent.display_wallet_id %></td>
            <td><%= link_to "Edit", edit_admin_talent_path(talent), class: "btn btn-primary talent-button", role: "button" %></td>
            <td><%= link_to "Details", admin_talent_path(talent), class: "btn btn-info talent-button", role: "button" %></td>
            <td><%= button_to "Delete", admin_talent_path(talent), class: "btn btn-danger talent-button", method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </main>
</div>
