<%= form_for investor, local: true do |form|%>
  <%= render "shared/form_errors", resource: investor%>

  <div class="form-group mt-2">
    <%= form.hidden_field :profile_picture, value: investor.cached_profile_picture_data %>
    <%= form.file_field :profile_picture %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", settings_path, class: "btn btn-secondary talent-button", role: "button"%>
    <%= form.submit "Save profile", class: "btn btn-primary talent-button" %>
  </div>
<% end %>
