<div class="col-12 col-lg-9 flex-grow-0 flex-shrink-0 lg-overflow-scroll d-flex px-0">
  <main class="col-12 px-2 d-flex flex-column justify-content-start">
    <h1>Coin - from <%= @talent.username %></h1>

    <dl class="d-flex flex-row flex-wrap">
      <dt class="col-md-3 sm-text-left md-text-right">ID</dt>
      <dd class="col-md-9"><%= @coin.id %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Ticker</dt>
      <dd class="col-md-9"><%= @coin.ticker %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Price</dt>
      <dd class="col-md-9"><%= @coin.price %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Market Cap</dt>
      <dd class="col-md-9"><%= @coin.market_cap %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Reserve Ratio</dt>
      <dd class="col-md-9"><%= @coin.reserve_ratio %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Talent fee</dt>
      <dd class="col-md-9"><%= @coin.talent_fee %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Created at</dt>
      <dd class="col-md-9"><%= l(@coin.created_at, format: :long) %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Updated at</dt>
      <dd class="col-md-9"><%= l(@coin.updated_at, format: :long) %></dd>
    </dl>

    <div class="d-flex flex-row">
      <div class="col-md-9 offset-md-3">
        <%= link_to "Edit Coin", edit_admin_talent_coin_path(@talent), class: "btn btn-primary talent-button" %>
      </div>
    </div>
  </main>
</div>
