<%= form_with model: [:admin, investor], local: true do |form |%>
  <%= render "shared/form_errors", resource: investor%>

  <div class="form-group is-required">
    <%= form.label :username %>
    <%= form.text_field :username, required: true, class: "form-control" %>
  </div>

  <div class="form-group is-required">
    <%= form.label :wallet_id %>
    <%= form.text_field :wallet_id, required: true, class: "form-control" %>
  </div>

  <div class="form-group is-required">
    <%= form.label :public_key %>
    <%= form.text_field :public_key, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", investor.persisted? && admin_investor_path(investor) || admin_investors_path, class: "btn btn-secondary talent-button", role: "button"%>
    <%= form.submit "Save Investor", class: "btn btn-primary talent-button" %>
  </div>
<% end %>
