<div class="col-12 col-lg-9 flex-grow-0 flex-shrink-0 lg-overflow-y-scroll d-flex px-0">
  <main class="col-12 px-2 d-flex flex-column justify-content-start">
    <h1>User</h1>

    <%= render "shared/flashes" %>

    <dl class="d-flex flex-row flex-wrap">
      <dt class="col-md-3 sm-text-left md-text-right">ID</dt>
      <dd class="col-md-9"><%= @user.id %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Email</dt>
      <dd class="col-md-9"><%= @user.email || "-" %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Wallet ID</dt>
      <dd class="col-md-9"><%= @user.wallet_id %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Admin</dt>
      <dd class="col-md-9"><%= @user.admin? %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Talent</dt>
      <dd class="col-md-9"><%= @user.talent.present? %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Investor</dt>
      <dd class="col-md-9"><%= @user.investor.present? %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Sign in count</dt>
      <dd class="col-md-9"><%= @user.sign_in_count %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Last sign in at</dt>
      <% if @user.last_sign_in_at.present? %>
        <dd class="col-md-9"><%= l(@user.last_sign_in_at, format: :long) %></dd>
      <% else %>
        <dd class="col-md-9">-</dd>
      <% end %>

      <dt class="col-md-3 sm-text-left md-text-right">Created at</dt>
      <dd class="col-md-9"><%= l(@user.created_at, format: :long) %></dd>

      <dt class="col-md-3 sm-text-left md-text-right">Updated at</dt>
      <dd class="col-md-9"><%= l(@user.updated_at, format: :long) %></dd>
    </dl>

    <div class="d-flex flex-row">
      <div class="col-md-9 offset-md-3 pb-2">
        <%= link_to "Edit User", edit_admin_user_path(@user), class: "btn btn-primary talent-button" %>
      </div>
    </div>

    <% unless @user.talent.present? %>
      <h3 class="border-top mt-2">Talent</h3>
      <div class="d-flex flex-row pb-2">
        <div class="col-md-3">Setup Talent</div>
        <div class="col-md-9">
          <%= link_to "Create Talent", new_admin_talent_path(talent: { user_id: @user.id}), class: "btn btn-primary talent-button" %>
        </div>
      </div>
    <% end %>

    <% if @user.talent.present? %>
      <h2 class="border-top mt-2">Talent</h2>
      <dl class="d-flex flex-row flex-wrap">
        <dt class="col-md-3 sm-text-left md-text-right">ID</dt>
        <dd class="col-md-9"><%= @user.talent.id %></dd>

        <% if @user.talent.profile_picture.present? %>
          <dt class="col-md-3 sm-text-left md-text-right">Profile picture</dt>
          <dd class="col-md-9"><%= image_tag @user.talent.profile_picture_url, height: 128 %></dd>
        <% end %>

        <dt class="col-md-3 sm-text-left md-text-right">Description</dt>
        <dd class="col-md-9"><%= @user.talent.description %></dd>

        <dt class="col-md-3 sm-text-left md-text-right">Public Key</dt>
        <dd class="col-md-9"><%= @user.talent.public_key || "-" %></dd>

        <dt class="col-md-3 sm-text-left md-text-right">ITO Date</dt>
        <% if @user.talent.ito_date.present? %>
          <dd class="col-md-9"><%= l(@user.talent.ito_date, format: :long) %></dd>
        <% else %>
          <dd class="col-md-9">-</dd>
        <% end %>

        <dt class="col-md-3 sm-text-left md-text-right">Transactions</dt>
        <dd class="col-md-9"><%= @user.talent.activity_count %></dd>

        <dt class="col-md-3 sm-text-left md-text-right">Created at</dt>
        <dd class="col-md-9"><%= l(@user.talent.created_at, format: :long) %></dd>

        <dt class="col-md-3 sm-text-left md-text-right">Updated at</dt>
        <dd class="col-md-9"><%= l(@user.talent.updated_at, format: :long) %></dd>
      </dl>

      <div class="d-flex flex-row">
        <div class="col-md-9 offset-md-3 pb-2">
          <%= link_to "Edit Talent", edit_admin_talent_path(@user.talent), class: "btn btn-primary talent-button" %>
        </div>
      </div>

      <% if @user.talent.tags.count > 0 %>
        <h3 class="border-top mt-2">Tags</h3>
        <dl class="d-flex flex-row flex-wrap">
          <dt class="col-md-3 sm-text-left md-text-right">Tags</dt>
          <dd class="col-md-9">
            <%= @user.talent.tags.map(&:to_s).join(" | ") %>
          </dd>
        </dl>

        <div class="d-flex flex-row">
          <div class="offset-md-3 col-md-9 pb-2">
            <%= link_to "Edit Tags", admin_talent_tags_path(@user.talent), class: "btn btn-primary talent-button" %>
          </div>
        </div>
      <% end %>

      <% if @user.talent.token.present? %>
        <h3 class="border-top mt-2">Token</h3>
        <dl class="d-flex flex-row flex-wrap">
          <dt class="col-md-3 sm-text-left md-text-right">Ticker</dt>
          <dd class="col-md-9"><%= @user.talent.token.display_ticker %></dd>

          <dt class="col-md-3 sm-text-left md-text-right">Token Price</dt>
          <dd class="col-md-9"><%= @user.talent.token.display_price %></dd>

          <dt class="col-md-3 sm-text-left md-text-right">Token Market Cap</dt>
          <dd class="col-md-9"><%= @user.talent.token.display_market_cap %></dd>

          <dt class="col-md-3 sm-text-left md-text-right">Reserve Ratio</dt>
          <dd class="col-md-9"><%= @user.talent.token.reserve_ratio || "-" %></dd>

          <dt class="col-md-3 sm-text-left md-text-right">Talent fee</dt>
          <dd class="col-md-9"><%= @user.talent.token.talent_fee || "-" %></dd>

          <dt class="col-md-3 sm-text-left md-text-right">Contract ID</dt>
          <dd class="col-md-9"><%= @user.talent.token.contract_id || "-" %></dd>

          <dt class="col-md-3 sm-text-left md-text-right">Deployed</dt>
          <dd class="col-md-9"><%= @user.talent.token.deployed %></dd>
        </dl>
        <div class="d-flex flex-row">
          <div class="offset-md-3 col-md-9 pb-2 d-flex flex-row">
            <%= link_to "Edit Token", edit_admin_talent_token_path(@user.talent, @user.talent.token), class: "btn btn-primary talent-button mr-2" %>
            <%= react_component("DeployTokenButton",
              props: {
                ticker: @user.talent.token.ticker,
                username: @user.username,
                address: @user.wallet_id,
                reserveRatio: @user.talent.token.reserve_ratio,
                talentFee: @user.talent.token.talent_fee,
                updateTokenUrl: admin_talent_token_path(@user.talent, @user.talent.token),
                contract_id: @user.talent.token.contract_id,
                wallet_id: @user.wallet_id,
              },
              prerender: false) %>
          </div>
        </div>
      <% end %>

      <% if @user.talent.career_goal.present? %>
        <h3 class="border-top mt-2">Career Goal</h3>
        <dl class="d-flex flex-row flex-wrap">
          <dt class="col-md-3 sm-text-left md-text-right">Career Goal</dt>
          <dd class="col-md-9"><%= @user.talent.career_goal %></dd>
        </dl>

        <div class="d-flex flex-row">
          <div class="offset-md-3 col-md-9">
            <%= link_to "Edit Career Goal", edit_admin_talent_career_goal_path(@user.talent, @user.talent.career_goal), class: "btn btn-primary talent-button" %>
          </div>
        </div>
      <% end %>

      <% if @user.talent.rewards.count > 0 %>
        <h3 class="border-top mt-2">Reward</h3>
        <dl class="d-flex flex-row flex-wrap">
          <dt class="col-md-3 sm-text-left md-text-right">Rewards</dt>
          <dd class="col-md-9">
            <%= @user.talent.rewards.map(&:to_s).join(" | ") %>
          </dd>
        </dl>

        <div class="d-flex flex-row">
          <div class="offset-md-3 col-md-9 pb-2">
            <%= link_to "Edit Rewards", admin_talent_rewards_path(@user.talent), class: "btn btn-primary talent-button" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @user.investor.present? %>
      <h2 class="border-top mt-2">Investor</h2>
      <dl class="d-flex flex-row flex-wrap">
        <dt class="col-md-3 sm-text-left md-text-right">ID</dt>
        <dd class="col-md-9"><%= @user.investor.id %></dd>

        <dt class="col-md-3 sm-text-left md-text-right">Description</dt>
        <dd class="col-md-9"><%= @user.investor.description %></dd>

        <dt class="col-md-3 sm-text-left md-text-right">Public Key</dt>
        <dd class="col-md-9"><%= @user.investor.public_key || "-" %></dd>

        <dt class="col-md-3 sm-text-left md-text-right">Created at</dt>
        <dd class="col-md-9"><%= l(@user.investor.created_at, format: :long) %></dd>

        <dt class="col-md-3 sm-text-left md-text-right">Updated at</dt>
        <dd class="col-md-9"><%= l(@user.investor.updated_at, format: :long) %></dd>
      </dl>

      <div class="d-flex flex-row">
        <div class="col-md-9 offset-md-3 pb-2">
          <%= link_to "Edit Investor", edit_admin_investor_path(@user.investor), class: "btn btn-primary talent-button" %>
        </div>
      </div>
    <% end %>
  </main>
</div>
