<div class="col-12 col-lg-9 flex-grow-0 flex-shrink-0 lg-overflow-y-scroll d-flex px-0">
  <main class="col-12 px-2 d-flex flex-column justify-content-start">
    <h1>Tags - for <%= @talent.username %></h1>

    <%= link_to "New tag", new_admin_talent_tag_path(@talent), class: "btn btn-primary talent-button mt-4" %>

    <%= render "shared/flashes" %>

    <table class="table table-hover mt-4">
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Primary</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag|%>
          <tr>
            <th scope="row"><%= tag.id%></th>
            <td><%= tag.description %></td>
            <td><%= tag.primary %></td>
            <td><%= link_to "Details", admin_talent_tag_path(@talent, tag), class: "btn btn-info talent-button", role: "button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="d-flex flex-row">
      <div class="col-md-12">
        <%= link_to "Back to User", admin_user_path(@talent.user), class: "btn btn-secondary talent-button" %>
      </div>
    </div>
  </main>
</div>
