<!DOCTYPE html>
<html>
  <head>
    <title>Talent Protocol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", media: 'all' %>
  </head>

  <body>
    <div class="vh-100">
      <div class="d-flex flex-row vh-100">
        <div class="tal-sidebar col-1 col-md-3 vh-100 border-right">
          <%= render "shared/navbar" %>
        </div>
        <div class="col-11 col-md-9 vh-100 px-0 overflow-auto tal-content mx-auto">
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
