<!DOCTYPE html>
<html>
  <head>
    <title>Talent Protocol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", media: 'all' %>
  </head>

  <body>
    <div class="container vh-100">
      <div class="row vh-100">
        <div class="col-md-3 vh-100 border-right">
          <%= render "shared/navbar" %>
        </div>
        <div class="col-md-9 vh-100">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
