<!DOCTYPE html>
<html>
  <head>
    <title>Talent Protocol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", media: 'all' %>
    <link rel="shortcut icon" href="/favicon.ico">
    <%= render partial: "services/hotjar" %>
  </head>

  <body>
    <% if current_user.present? %>
      <% if !current_user.welcome_pop_up %>
        <%=
          react_component("WelcomePopup",
          props: {
            talent: current_user.talent?,
            user_id: current_user.id
          },
          prerender: false)%>
      <% end %>
      <div class="h-100 d-flex flex-column lg-overflow-y-hidden align-items-center">
        <div class="lg-overflow-y-hidden d-flex flex-row flex-wrap flex-lg-nowrap w-100 h-100">
          <%= render "shared/navbar" %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
  <% unless Rails.env.development? || Rails.env.test? %>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  <% end %>
</html>
