<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= meta_title %>" />
    <meta name="twitter:card" content="<%= meta_card_type %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="twitter:image" content="<%= meta_image %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", media: 'all' %>
    <link rel="shortcut icon" href="/favicon.ico">
    <%= render partial: "services/hotjar" %>
  </head>

  <% if current_user.present? %>
    <body class=<%= current_user&.active_theme || "light-body" %> id="user-logged">
      <div class="page-container">
        <div class="content-wrapper">
          <% if !current_user.welcome_pop_up %>
            <%=
              react_component("WelcomePopup",
              props: {
                talent: current_user.talent?,
                user_id: current_user.id
              },
              prerender: false)%>
          <% elsif !current_user.first_quest_popup %>
            <%=
              react_component("FirstQuestPopup",
              props: { userId: current_user.id },
              prerender: false)%>
          <% end %>
          <%= render "shared/navbar" %>
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
        <%= react_component('FlashMessages', props: {messages: flash_messages, mode: current_user&.active_theme || "light"}) %>
      </div>
    </body>
  <% else %>
    <body class="light-body" id="user-not-logged">
      <%= yield %>
    </body>
  <% end %>
  <% unless Rails.env.development? || Rails.env.test? %>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  <% end %>
</html>
